.header {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

@media screen and (max-width: 768px){
    .header {
        justify-content: center;
        padding: 0 1rem;
    }
}